# dependencies
node_modules/
**/node_modules/

# builds
dist/
**/dist/

# env files
.env
**/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# temp
*.tmp
*.swp
